div {
  background-color: #E4F9F5;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  margin-left: 0;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: normal;
}

.Top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}


.pro {
  text-decoration: underline;
}

.profil-pic {
  height: 150px;
  border-top-width: 10px;
  margin-top: 50px;
  line-height: 2;
}

.skill-pic {
  width:20%;
  float: left;
  margin-right: 30px;
}

.skill-pic-2 {
  width:20%;
  float: right;
  margin-right: 30px;
}

.footer-link {
  color: #11999E;
}
.btn{
  color: #11999E;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
